@import url(https://schnensch0.github.io/ziro/ziro.css);

:root {
    --br-1: 10px;
    --br-2: 8px;
    --scrollbar: unset;
}

a {
    text-decoration: none !important;
}

/* .main-topBar-container .window-controls .window-control {
    color: white !important;
   
} */


/* .main-topBar-container .window-controls .window-control:hover {
    opacity: 0.8 !important;
}

.macOS .window-controls .window-control {
    color: white !important;
}

.window-control {
    display: none !important;
} */

/*doesn't work*/

/*-----------------------------------------------------------------------------------*/


.view-homeShortcutsGrid-shortcut {
    background-color: rgb(87 87 87 / 25%) !important;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.main-trackList-trackListRow {
    border-radius: 4px;
}

.main-rootlist-wrapper {
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 6px;

}

.main-contextMenu-tippy {
    border-radius: 70px;
}


/*-------------------------------------------time--------------------------------------*/


.main-playbackBarRemainingTime-container {
    border: 2px solid #71717105 !important;
    height: 45px;
    color: white;
    border-radius: 12px;
    background-color: #37373745;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2.2px);
    width: 75px;
    font-size: 30px;
    font-family: Impact, fantasy;
    /* font-family: Arial Narrow, sans-serif; */
    /* font-family: Brush Script MT, Brush Script Std, cursive; */
}





.playback-bar__progress-time-elapsed {
    border: 2px solid #71717105 !important;
    width: 110px;
    height: 45px;
    color: white;
    border-radius: 12px;
    background-color: #37373745;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2.2px);
    font-size: 30px;
    font-family: Impact, fantasy;
    /* font-family: Arial Narrow, sans-serif; */
    /* font-family: Brush Script MT, Brush Script Std, cursive; */

    margin-right: 10px;
}

.playback-bar__progress-time-elapsed::after {
    content: '';

}

.playback-bar__progress-time-elapsed {
    margin-right: 78px;
}


.playback-bar__progress-time-elapsed,
.main-playbackBarRemainingTime-container {
    margin-bottom: 108px;
    right: 15px;
}

@media screen and (max-width: 1280px) {

    .playback-bar__progress-time-elapsed,
    .main-playbackBarRemainingTime-container {
        margin-bottom: 285px;
        right: 15px;
    }

    .main-nowPlayingBar-center {
        margin-bottom: 0px !important;
        background-color: #37373745 !important;
    }

    .player-controls__left,
    .player-controls__right {
        background-color: transparent !important;
        border: 1px solid transparent !important;
        box-shadow: 0px 0px 20px 4px #00000000 !important;
    }

}


.main-nowPlayingBar-center {
    width: 325px;
    /* background-color: #37373745;
    border: 2px solid #71717103; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 55px;
    margin-bottom: 170px;

}

.player-controls__left,
.player-controls__right {
    gap: 30px !important;
    margin-left: -160px !important;
    background-color: #37373745;
    border: 2px solid #14141424 !important;
    backdrop-filter: blur(2px) !important;
    height: 50px !important;
    border-radius: 50px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-shadow: 0px 0px 20px 10px #00000080;
}

.player-controls__right {
    margin-left: 32px !important;
}


/*-------------------------------------------time--------------------------------------*/

/*-------------------------------------------volume-bar------------------------------------*/

.main-nowPlayingBar-extraControls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-masonry !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: end !important;
    /* justify-content: flex-end; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 0 !important;
}

.volume-bar {
    --bar: white;
}

.volume-bar__slider-container {
    --slider-width: 65% !important;
    position: absolute !important;
    bottom: 56px;
    width: 163px;
    right: 125px;
    background-color: #37373745 !important;
    backdrop-filter: blur(1.2px) !important;
    border: 2px solid #71717103 !important;
    border-radius: 50px;
    height: 32px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.control-button {
    position: absolute;
    bottom: 56px;
    right: 288px;
    color: white !important;
    background-color: #37373745;
    backdrop-filter: blur(1.2px);
    border: 2px solid #71717103;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 25px !important;
    min-width: 25px !important;
    padding-left: 7px !important;
}


/*-------------------------------------------volume-bar------------------------------------*/

.marketplace-header__right>:is(div, button) {
    margin-top: 180px;

}

.marketplace-tabBar-active {
    background-color: #404040 !important;
}

.main-topBar-container a {
    color: white;
}

/* search bar */
.b7r2WRiu5f9Q99qmyreh .main-topBar-searchBar {
    backdrop-filter: blur(25px);
    border-radius: 10px !important;
}



.marketplace-header__right {
    position: absolute;
    margin-bottom: 190px;
    margin-left: 450px;
}

.main-home-filterChipsSection {
    background-color: rgba(94, 94, 94, 0.53) !important;
    backdrop-filter: blur(4px);
}

.marketplace-header__left {
    margin-top: -9px;
}

.marketplace-card-type-heading {
    margin-top: 70px;
}


.GimJ6fo6WOYPyWNVpSr1 {
    background-color: #00000057 !important;
    backdrop-filter: blur(8px);
    border-radius: 20px;
}

/* .Root__main-view {
    background: #202020 !important;
    background: linear-gradient(160deg, #202020 60%, #333333 100%) !important;
} */

.x-progressBar-progressBarBg {
    background-color: #3131315c !important;
    backdrop-filter: blur(10px);

}

.e-9960-form-input-icon {
    border: 2px solid rgb(43, 43, 43);
    border-radius: 50px;
}

.Root__globalNav .main-globalNav-navLink {
    background-color: transparent;
}

.main-globalNav-navLink:hover {
    background-color: transparent;
}


.hZjAwWMA54TvbGYwReET {
    margin-left: 10px;
    border-radius: 14px;
}

.view-homeShortcutsGrid-shortcut:hover {

    background-color: rgb(55 55 55 / 25%) !important;
}

.main-trackList-trackListHeader {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a7a;
    backdrop-filter: blur(2px);
    top: 10px !important;
    border: 2px solid #3a3a3a26;
    height: 60px !important;
    max-width: 100%;
    width: auto !important;
    min-width: 100px !important;
}


.main-trackList-trackListRow.main-trackList-selected,
.jtZMR8Hj94od6BQce98P:active {
    background-color: #c5d7dc !important;
    backdrop-filter: blur(26px);
}


#BeautifulLyrics-CardView .Header .ShowLyrics {
    backdrop-filter: blur(30px) !important;
    background-color: var(--background-tinted-base) !important;
    border: 1px solid hsla(0, 0%, 100%, 0.003) !important;
    border-radius: 10px !important;
}

.main-nowPlayingView-contextItemInfo {
    background-color: var(--background-tinted-base) !important;
    border-radius: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    backdrop-filter: blur(17px);
}

.main-trackInfo-name {
    width: auto;
    height: 27px;
    display: flex;
    align-items: center;
    max-width: 235px;
    min-width: 0px;
    border-radius: 6px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.main-trackInfo-artists {
    margin-bottom: 2px;
}

.wPHL366l99aluPsMU8Bl:hover {
    background-color: var(--background-tinted-base) !important;
    backdrop-filter: blur(17px);
    color: var(--spice-text);
}

.wPHL366l99aluPsMU8Bl {
    color: white;
}

.MVQhEntGN2lszQdk9z4m {
    height: 55% !important;
    margin-top: 15px !important;
    background-color: rgb(87 87 87 / 25%) !important;
    border-radius: 10px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 7px;
}

/* .jzMBaEByD6M9xRmS9mv8{
    backdrop-filter: blur(15px);
    border-radius: 20px !important;
} */

#context-menu {
    backdrop-filter: blur(2px) !important;
    border-radius: 10px !important;
}

.wlb3dYO07PZuYfmNfmkS {
    border: 1px transparent solid !important;
    background-color: #0000009c !important;
    padding: 1.45px !important;
}

.main-contextMenu-menuItemButton:hover {
    background-color: #313131a8;
}

.MWD1i_CSJ5N9wRBDpZmX,
.main-nowPlayingBar-nowPlayingBar {
    background-color: #3636362b !important;
    border-radius: 20px !important;
}

.DquSH3YjnaIIXMZiOvwA {
    background-color: #00000091 !important;
}

.X5mwWAw7ijxPvQOoabzQ {
    background: #00000021 !important;
}

.Button-buttonTertiary-textSubdued-small-useBrowserDefaultFocusStyle-condensed {
    background-color: #7f7f7f2e !important;
    width: 90px !important;
}

.ylBRlfNqGnzVa4kjUQGP {
    border-radius: 15px;
}

.button-module__button___hf2qg_marketplace {
    color: white !important;
    background-color: #37373745 !important;
    backdrop-filter: blur(1.7px);
    border: 2px solid #71717103 !important;
}


.marketplace-add-snippet-btn {
    bottom: 65px !important;
}



.Button-buttonTertiary-small-iconOnly-disabled-useBrowserDefaultFocusStyle:disabled,
.Button-buttonTertiary-small-iconOnly-disabled-useBrowserDefaultFocusStyle[aria-disabled="true"] {
    display: none !important;
}


.encore-dark-theme .encore-bright-accent-set {
    --background-base: #37373745 !important;
    backdrop-filter: blur(4px) !important;
    --text-base: #efefef !important;
    --background-highlight: #30303021 !important;
    --background-press: #30303021 !important;
    border: 2px solid #71717103 !important;
}

/* .encore-dark-theme .encore-bright-accent-set {
    --background-base: #37373745 !important;
    backdrop-filter: blur(4px) !important;
    --text-base: #efefef !important;
    --background-highlight: #30303021 !important;
    --background-press: #30303021 !important;
    border: 2px solid #71717103 !important;
} */

.encore-dark-theme .encore-inverted-light-set {
    --background-base: #37373745 !important;
    backdrop-filter: blur(4px) !important;
    --text-base: #efefef !important;
    --background-highlight: #30303021 !important;
    --background-press: #30303021 !important;
    border: 2px solid #71717103 !important;
}

.encore-inverted-light-set {
    --background-base: #37373745 !important;
    backdrop-filter: blur(2px) !important;
    --text-base: #efefef !important;
    --background-highlight: #30303021 !important;
    --background-press: #30303021 !important;
    border: 2px solid #71717103 !important;
    /* height: 40px !important;
    width: 50px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute !important;
    bottom: -20px !important; */
    right: 0px !important;
}

.Button-buttonTertiary-large-iconOnly-useBrowserDefaultFocusStyle-condensed {
    background-color: #37373745 !important;
    border: 2px solid #71717103 !important;
    backdrop-filter: blur(4px);
    min-block-size: 0px !important;
    height: 50px !important;
    width: 50px !important;
}

.Button-buttonTertiary-textSubdued-large-iconOnly-useBrowserDefaultFocusStyle-condensed {
    background-color: #37373745 !important;
    border: 2px solid #71717103 !important;
    backdrop-filter: blur(4px);
    min-block-size: 0px !important;
    height: 50px !important;
    width: 50px !important;
}

.XKQRNQAUOAjRwwjuUnRU {
    background-color: #37373745 !important;
    border: 2px solid #71717103 !important;
    backdrop-filter: blur(4px) !important;
    height: 90px !important;
    border-radius: 15px !important;
    padding-left: 10px !important;
}

.main-nowPlayingBar-lyricsButton {
    display: none !important;
}

.vW9NFcNIj8useE43Vx9G:before {
    top: 40px !important;
}

.fZjbVIqD8Xc3auRZOxu5:before {
    top: 40px !important;
}

.Root__now-playing-bar {
    box-shadow: 0px 20px 14px 32px #141414b3 !important;
}

.xlgKfueiF46Wo_sED8YA {
    z-index: 999999999 !important;
}

.main-trackInfo-name .main-trackInfo-name {
    background-color: #76767640 !important;
    padding-right: 5px;
}